@use 'variables' as *;

.prev-next-footer {
  display: none;
}

.table {
  tbody {
    tr {
      &:hover {
        background-color: $pytorch-light-gray;

        @media (prefers-color-scheme: dark) {
          background-color: darken($pytorch-light-gray, 15%);
        }
      }
    }
  }
}

dt {
  &:target {
    background-color: $pytorch-violet;

    @media (prefers-color-scheme: dark) {
      background-color: darken($pytorch-light-gray, 15%);
    }
  }
}


span.highlighted {
  background-color: $pytorch-red;
}

.form-control {
  border: none;
}
