@use 'variables' as *;

.prev-next-footer {
  display: none;
}

.table {
  tbody {
    tr {
      &:hover {
        background-color: transparent;
      }
    }
  }
}

dt {
  &:target {
    background-color: transparent;
  }
}

span.highlighted {
  background-color: $pytorch-red;
}

.form-control {
  border: none;
}
