// _tutorials.scss
@use "variables" as *;

// Tutorial cards styles
.pytorch-call-to-action-links {
  padding-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  margin: 1.5rem auto;

  @media screen and (min-width: 768px) {
    padding-top: 2.5rem;
  }

  @media (min-width: 768px) and (max-width: 1239px) {
    padding-top: 0;
  }

  #tutorial-type {
    display: none;
  }

  .call-to-action-img, .call-to-action-notebook-img {
    height: 1.375rem;
    width: 1.375rem;
    margin-right: 10px;
  }

  .call-to-action-notebook-img {
    height: 1rem;
  }

  a {
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    color: #000000;
    cursor: pointer;
    background-color: $background-light;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    transition: all 0.2s ease;
    text-align: center;

    &:hover {
      color: #e44c2c;
      background-color: #f8f8f8;
      border-color: #e44c2c;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    .call-to-action-desktop-view {
      display: none;

      @media screen and (min-width: 768px) {
        display: block;
      }
    }

    .call-to-action-mobile-view {
      display: block;

      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    #google-colab-link, #download-notebook-link,
    #github-view-link {
      padding-bottom: 0.625rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border-bottom: none;

      &:hover {
        color: #e44c2c;
      }
    }
  }
}

#tutorial-cards-container {
  #tutorial-cards {
    width: 100%;
  }

  .tutorials-nav {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .tutorials-hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .card.tutorials-card {
    a {
      text-decoration: none;

      p.card-summary, p.tags {
        color: $muted-text;
        text-decoration: none;

        &:hover {
          color: $dark-text;
          text-decoration: none;
        }
      }
    }

    border-radius: 0;
    border-color: $background-light;
    height: 98px;
    margin-bottom: 1.875rem;
    overflow: scroll;
    background-color: $background-light;
    cursor: pointer;

    @media screen and (min-width: 1240px) {
      height: 200px;
      overflow: inherit;
    }

    @media (min-width: 768px) and (max-width: 1239px) {
      height: 200px;
      overflow: scroll;
    }

    .tutorials-image {
      position: absolute;
      top: 0px;
      right: 0px;
      height: 96px;
      width: 96px;
      opacity: 0.5;

      img {
        height: 100%;
        width: 100%;
      }

      @media screen and (min-width: 768px) {
        height: 100%;
        width: 25%;
      }

      @media (min-width: 768px) and (max-width: 1239px) {
        height: 100%;
        width: 198px;
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        background: $background-dark;
        opacity: .075;
      }
    }

    .card-title-container {
      width: 70%;
      display: inline-flex;

      @media screen and (min-width: 768px) {
        width: 75%;
      }

      @media (min-width: 768px) and (max-width: 1239px) {
        width: 70%;
      }

      h4 {
        margin-bottom: 1.125rem;
        margin-top: 0;
        font-size: 1.5rem;
      }
    }

    p.card-summary, p.tags {
      font-size: 0.9375rem;
      line-height: 1.5rem;
      margin-bottom: 0;
      color: $muted-text;
      font-weight: 400;
      width: 70%;

      @media screen and (min-width: 768px) {
        width: 75%;
      }

      @media (min-width: 768px) and (max-width: 1239px) {
        width: 70%;
      }
    }

    p.tags {
      margin-top: 30px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    h4 {
      color: $dark-text;
      margin-bottom: 1.125rem;
    }

    a {
      height: 100%;

      @media screen and (min-width: 768px) {
        min-height: 190px;
      }

      @media (min-width: 768px) and (max-width: 1239px) {
        min-height: 234px;
      }
    }

    @media screen and (min-width: 768px) {
      &:after {
        content: "";
        display: block;
        width: 0;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $pytorch-red;
        transition: width .250s ease-in-out;
      }

      &:hover:after {
        width: 100%;
      }
    }

    &:hover {
      background-color: $light-text;
      border: 1px solid $border-color;
      border-bottom: none;

      p.card-summary {
        color: $dark-text;
      }

      .tutorials-image {
        opacity: unset;
      }
    }
  }

  .tutorial-tags-container {
    width: 75%;

    &.active {
      width: 0;
    }
  }

  .tutorial-filter-menu {
    ul {
      list-style-type: none;
      padding-left: 1.25rem;

      li {
        padding-right: 1.25rem;
        word-break: break-all;

        a {
          color: #979797;

          &:hover {
            color: $pytorch-red;
          }
        }
      }
    }
  }

  .tutorial-filter {
    cursor: pointer;
  }

  .filter-btn {
    color: #979797;
    border: 1px solid #979797;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 5px;

    &:hover {
      border: 1px solid $pytorch-red;
      color: $pytorch-red;
    }

    &.selected {
      background-color: $pytorch-red;
      border: 1px solid $pytorch-red;
      color: $light-text;
    }
  }

  .all-tag-selected {
    background-color: #979797;
    color: $light-text;

    &:hover {
      border-color: #979797;
      color: $light-text;
    }
  }

  .pagination {
    .page {
      border: 1px solid #dee2e6;
      padding: 0.5rem 0.75rem;
    }

    .active .page {
      background-color: #dee2e6;
    }
  }
}

.tutorials-callout-container {
    padding-bottom: 50px;

    .col-md-6 {
      padding-bottom: 10px;
    }

    .text-container {
      padding: 10px 0px 30px 0px;
      padding-bottom: 10px;

      .body-paragraph {
        color: #666666;
        font-weight: 300;
        font-size: 1.125rem;
        line-height: 1.875rem;
      }
    }

    .btn.callout-button {
      font-size: 1.125rem;
      border-radius: 0;
      border: none;
      background-color: $background-light;
      color: $muted-text;
      font-weight: 400;
      position: relative;
      letter-spacing: 0.25px;

      @media screen and (min-width: 768px) {
        &:after {
          content: "";
          display: block;
          width: 0;
          height: 1px;
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: $pytorch-red;
          transition: width .250s ease-in-out;
        }

        &:hover:after {
          width: 100%;
        }
      }

      a {
        color: inherit;
      }
  }
}

.card-body {
  a {
    text-decoration: none;
  }
}
