.main-content article {
  max-width: 920px;
  margin-bottom: 100px;

  a {
    &:link, &:visited, &:hover {
      color: #3d5a97;
    }

    &:link, &:visited {
      text-decoration: underline;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;

    a.headerlink {
      display: inline-block;
      text-decoration: none;
      @include desktop {
        display: none;
      }
    }

    &:hover {
      a.headerlink {
        display: inline-block;
      }
    }
  }

  h1 {
    font-size: rem(32px);
    margin-bottom: rem(24px);
    letter-spacing: 1.78px;
    line-height: rem(42px);
    text-transform: uppercase;
  }

  h2 {
    font-size: rem(24px);
    letter-spacing: 0;
    line-height: rem(28px);
    text-transform: none;
    margin-bottom: rem(24px);
  }

  h3 {
    font-size: rem(18px);
    letter-spacing: 0;
    line-height: rem(22px);
    margin-bottom: rem(24px);
  }

  h4 {
    font-size: rem(16px);
    letter-spacing: 0;
    line-height: rem(20px);
    margin-bottom: rem(24px);
  }

  h5 {
    font-size: rem(14px);
    letter-spacing: 0;
    margin-bottom: 1.5rem;
  }

  p, ul li, ol li {
    font-size: rem(18px);
    line-height: rem(30px);
    color: $content_text_color;
    margin-bottom: 2.5rem;
  }

  dl {
    dt, dd {
      font-size: rem(18px);
      line-height: rem(30px);
      color: $content_text_color;
      margin-bottom: 2.5rem;
    }
  }

  blockquote {
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: $content_text_color;
    margin-bottom: 2.5rem;
  }

  ul, ol {
    margin-bottom: 2.5rem;
  }

  ul li, ol li {
    margin-bottom: 1rem;
  }

  dl {
    margin-bottom: 2.5rem;

    dt {
      margin-bottom: 0.75rem;
      font-weight: 400;
    }
  }

  pre {
    margin-bottom: 2.5rem;
  }

  hr {
    margin-top: 4.6875rem;
    margin-bottom: 4.6875rem;
  }

  blockquote {
    font-size: 1.125rem;
    margin: 0 auto;
    margin-bottom: 2.5rem;
    width: 65%;
  }

  img {
    width: 100%;
  }
}

@include desktop {
  .main-content article {
    > ul,
    > ol {
      padding-left: 6.25rem;
      ul, ol {
        padding-left: rem(20px);
      }
    }
  }
}
