html {
  font-size: 12px;
  height: 100%;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

body {
  background: #ffffff;
  height: 100%;
  margin: 0;
  &.no-scroll {
    height: 100%;
    overflow: hidden;
  }
}

* {
  box-sizing: border-box;
  font-family: Lato-Light;
  font-weight: 300;
}

a:link,
a:visited,
a:hover {
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: rem(18px);
  @include default_link_styles;
}

code,
kbd,
pre,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: rem(14px);

  span {
    font-family: inherit;
    font-size: inherit;
  }
}

pre {
  padding: 1.25rem 1rem;
}

code {
  padding: rem(4px);
  background-color: #f7f7f9;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Lato-Regular;

  a {
    text-decoration: none;
  }
}

h1 {
  font-size: rem(32px);
  letter-spacing: 1.78px;
  line-height: rem(40px);
  text-transform: uppercase;
}

::-webkit-input-placeholder {
  color: $orange;
}

::-moz-placeholder {
  color: $orange;
}

:-ms-input-placeholder {
  color: $orange;
}

:-moz-placeholder {
  color: $orange;
}

.fa-minus-square-o:before, .pytorch-menu-vertical li.on a span.toctree-expand:before, .pytorch-menu-vertical li.current>a span.toctree-expand:before {
  content: "-";
  font-size: rem(16px);
  line-height: rem(25px);
}

.fa-plus-square-o:before, .pytorch-menu-vertical li span.toctree-expand:before {
  content: "+";
  font-size: rem(16px);
  line-height: rem(25px);
}

.pytorch-container {
  margin: 0 auto;
  padding: 0 30px;
  width: 100%;
  @include full-nav-menu-desktop {
    padding: 0;
  }
}

.pytorch-content-wrap {
  background-color: #ffffff;
  display: flex;
  position: relative;
  @include clearfix;

  @include full-nav-menu-desktop {
    margin-left: $desktop_menu_width + 60px;
    padding-top: 137px;
  }
}

.pytorch-content {
  background: #ffffff;
  width: 100%;
  max-width: 675px;
  position: relative;
}

.pytorch-content-left {
  width: 100%;
  padding-right: 30px;
  @include full-nav-menu-desktop {
    padding-right: 0;
    width: 675px;
  }
}

.pytorch-content-right {
  display: none;
  @include full-nav-menu-desktop {
    display: block;
    width: $desktop_menu_width;
    position: relative;
    float: right;
    margin-left: rem(60px);
  }
}

.pytorch-side-scroll {
  width: $desktop_menu_width;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}

.wy-breadcrumbs li a {
  color: $orange;
}

ul.pytorch-breadcrumbs {
  padding-left: 0;
  list-style-type: none;

  li {
    display: inline-block;
  }

  a {
    color: $orange;
    text-decoration: none;
  }
}


.email-subscribe-form {
  input.email {
    color: $orange;
    border: none;
    border-bottom: 1px solid #939393;
    width: 100%;
    background-color: transparent;
    outline: none;
    font-size: 1.125rem;
    letter-spacing: 0.25px;
    line-height: 2.25rem;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $orange;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $orange;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $orange;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $orange;
  }

  input[type="submit"] {
    position: absolute;
    right: 0;
    top: 10px;
    height: 15px;
    width: 15px;
    background-image: url("../images/arrow-right-with-tail.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: center center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
  }
}

.email-subscribe-form-fields-wrapper {
  position: relative;
}

.table-of-contents-link-wrapper {
  display: block;
  margin-top: 80px;

  @include full-nav-menu-desktop {
    display: none;
  }

  a {
    font-size: rem(22px);
  }
}
