$orange: #EE4C2C;
$content_text_color: #767676;
$desktop_menu_width: 300px;

@mixin clearfix {
  &:before,
  &:after {
    content:"";
    display: table;
  }
  &:after { clear:both; }
  & { *zoom:1; }
}

@function rem($px) {
  @return $px / 16px * 1rem;
}

@mixin desktop {
  @media screen and (min-width: 768px) { @content; }
}

html {
  font-size: 12px;
  height: 100%;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

body {
  background: #ffffff;
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: Lato-Light;
  font-weight: 300;
}

p {
  margin-top: 0;
  margin-bottom: rem(18px);
}

code,
kbd,
pre,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: rem(14px);

  span {
    font-family: inherit;
    font-size: inherit;
  }
}

pre {
  padding: 1.25rem 1rem;
}

code {
  padding: rem(4px);
  background-color: #f7f7f9;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Lato-Regular;

  a {
    text-decoration: none;
  }
}

h1 {
  font-size: rem(32px);
  letter-spacing: 1.78px;
  line-height: rem(40px);
  text-transform: uppercase;
}

::-webkit-input-placeholder {
  color: $orange;
}

::-moz-placeholder {
  color: $orange;
}

:-ms-input-placeholder {
  color: $orange;
}

:-moz-placeholder {
  color: $orange;
}

.fa-minus-square-o:before, .pytorch-menu-vertical li.on a span.toctree-expand:before, .pytorch-menu-vertical li.current>a span.toctree-expand:before {
  content: "-";
  font-size: rem(16px);
  line-height: rem(25px);
}

.fa-plus-square-o:before, .pytorch-menu-vertical li span.toctree-expand:before {
  content: "+";
  font-size: rem(16px);
  line-height: rem(25px);
}

.pytorch-content-wrap {
  background-color: #ffffff;
  margin-left: $desktop_menu_width + 60px;
  padding-top: 137px;
  display: flex;
  position: relative;
  @include clearfix;
}

.pytorch-left-menu-search input[type=text] {
  width: $desktop_menu_width - 40px;
  border-radius: 0;
  padding: rem(8px) rem(12px);
  border-color: $orange;
  color: $orange;
  border-style: solid;
  font-size: rem(16px);
}

.pytorch-content {
  background: #ffffff;
  width: 100%;
  max-width: 675px;
  position: relative;
}

.pytorch-content-left {
  width: 675px;
}

.pytorch-content-right {
  width: $desktop_menu_width;
  height: 100%;
  position: absolute;
  left: 725px;
}

.pytorch-right-menu {
  min-height: 100px;
  position: fixed;
  top: 100px;
  width: 100%;
}

.pytorch-side-scroll {
  width: $desktop_menu_width + 10px;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}

.wy-breadcrumbs li a {
  color: $orange;
}

.pytorch-container {
  margin: 0 auto;
  width: 1240px;
  position: relative;
}

.pytorch-header {
  height: 90px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e7e7e7;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  z-index: 9999;
}

.pytorch-header-logo {
  position: absolute;
  left: 0;
  top: 22px;

  img {
    height: auto;
    width: 120px;
  }
}

.pytorch-header .pytorch-main-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  ul {
    display: flex;
    align-items: center;

    li {
      display: inline-block;
      margin-right: 40px;
      position: relative;

      &:last-of-type {
        margin-right: 0;
      }

      a {
        font-family: Lato-Light;
        font-size: 18px;
        color: #262626;
        letter-spacing: 0;
        text-align: center;
        line-height: 34px;
        text-decoration: none;

        &.active {
          color: $orange;

          &:after {
            content: "•";
            position: absolute;
            bottom: -24px;
            font-size: 22px;
            left: 0;
            right: 0;
          }
        }
      }
    }
  }
}

ul.pytorch-breadcrumbs {
  padding-left: 0;
  list-style-type: none;

  li {
    display: inline-block;
  }

  a {
    color: $orange;
    text-decoration: none;
  }
}
