$sphinx_full_width: 1600px;
$sphinx_medium_width: 1101px;
$sphinx_full_width_content_width: 700px;

$sphinx_left_menu_wrapper_padding_right: 13.5%;
$sphinx_left_menu_width: 25%;
$sphinx_left_menu_scroll_wrapper_width: 120%;

$sphinx_content_wrap_width: 71%;
$sphinx_content_wrap_left_margin: 27%;

$sphinx_article_width: 75%;

$sphinx_right_menu_wrap_width: 24%;
$sphinx_right_menu_wrap_left_margin: 2%;
$sphinx_right_menu_width: 17%;
$sphinx_right_menu_left_margin: 81.5%;
$sphinx_right_menu_scroll_wrapper_width: 120%;

$sphinx_page_bar_left_margin: 25%;
$sphinx_page_bar_left_padding: 2%;

$sphinx_shortcuts_left_margin: 78%;

@mixin sphinx-full-size {
  @media screen and (min-width: $sphinx_full_width) { @content; }
}

@mixin sphinx-medium-size {
  @media screen and (min-width: $sphinx_medium_width) { @content; }
}

html {
  @include desktop {
    font-size: 14px;
  }

  @include sphinx-full-size {
    font-size: 16px;
  }
}

body {
  background: $white;
  height: 100%;
  margin: 0;
  &.no-scroll {
    height: 100%;
    overflow: hidden;
  }
}

p {
  margin-top: 0;
  margin-bottom: rem(18px);
  @include default_link_styles;
  a:link,
  a:visited,
  a:hover {
    color: $red_orange;
  }
}

.wy-breadcrumbs li a {
  color: $red_orange;
}

ul.pytorch-breadcrumbs {
  padding-left: 0;
  list-style-type: none;

  li {
    display: inline-block;
  }

  a {
    color: $red_orange;
    text-decoration: none;
  }
}

.table-of-contents-link-wrapper {
  display: block;
  margin-top: 68px;
  padding: rem(20px) rem(30px);
  background-color: $light_grey;
  position: relative;
  color: $slate;
  font-size: rem(20px);
  font-weight: 400;

  &.is-open {
    .toggle-table-of-contents {
      transform: rotate(180deg);
    }
  }

  @include full-nav-menu-desktop {
    display: none;
  }
}

.toggle-table-of-contents {
  background-image: url("../images/chevron-down-grey.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  height: 100%;
  position: absolute;
  right: 21px;
  width: 30px;
  top: 0;
}

.tutorials-header {
  .header-logo {
    background-image: url("../images/logo-dark.svg");
  }

  .main-menu ul li a {
    color: $not_quite_black;
  }

  .main-menu-open-button {
    background-image: url("../images/icon-menu-dots-dark.svg");
  }
}

.rst-content footer {
  padding-bottom: rem(40px);
}

h1 {
  font-size: rem(32px);
  letter-spacing: 1.78px;
  line-height: rem(40px);
  text-transform: uppercase;
}

span.pre {
  color: $content_text_color;
  background-color: $light_grey;
  padding: 2px 6px;
}

pre {
  background-color: $light_grey;
  padding: rem(25px);
}

.highlight .c1 {
  color: $quick_start_grey;
}

.headerlink {
  display: none !important;
}

a:link,
a:hover,
a:visited {
  &.has-code {
    color: $code_link_color;
    span {
      color: $code_link_color;
    }
  }
}

article.pytorch-article {
  ul,
  ol {
    padding-left: rem(30px);
    margin: 0;

    li {
      margin: 0;
      line-height: rem(28px);
    }
    p {
      line-height: rem(28px);
      margin-bottom: 0;
    }

    ul,
    ol {
      margin: 0;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    a {
      color: $not_quite_black;
    }
  }
}

article.pytorch-article {
  p.caption {
    margin-top: rem(20px);
  }

  .note,
  .warning {
    background: $light_grey;
    margin-top: rem(30px);
    margin-bottom: rem(18px);

    .first {
      font-size: rem(16px);
      color: $not_quite_black;
      letter-spacing: 0;
      text-transform: uppercase;
      margin-bottom: rem(18px);
      padding-left: 0px;
      font-weight: 500;
      &:before {
        content: "\2022";
        position: relative;
        padding-left: 10px;
        padding-right: 15px;
        color: $white;
      }
    }
    p:nth-child(n + 2) {
      padding: 0 rem(32px);
      font-size: rem(18px);
      color: $not_quite_black;
      letter-spacing: 0;
      line-height: rem(28px);
      margin-bottom: rem(18px);
    }
    .pre,
    pre {
      background: $white;
      outline: 1px solid #e9e9e9;
    }

    pre {
      margin-bottom: 0;
    }

    .highlight {
      margin: 0 rem(32px) rem(18px) rem(32px);
    }

    ul,
    ol {
      padding-left: rem(52px);
    }

    p {
      margin-top: rem(18px);
    }
  }

  .note {
    .admonition-title {
      background: $red_orange;
    }
  }

  .warning {
    .admonition-title {
      background: #f5a623;
    }
  }

  div.last {
    margin-bottom: 0;
    padding-bottom: rem(18px);

    .highlight {
      margin-bottom: 0;
    }
  }

  p.last {
    margin-bottom: 0;
    padding-bottom: rem(18px) !important;
  }
}

article.pytorch-article .sphx-glr-thumbcontainer {
  margin: 0;
  border: 1px solid #d6d7d8 ;
  border-radius: 0;
  width: 45%;
  text-align: center;
  margin-bottom: 5%;

  @media screen and (max-width: $sphinx_medium_width - 1px) {
    &:nth-child(odd) {
      margin-left: 0;
      margin-right: 2.5%;
    }

    &:nth-child(even) {
      margin-right: 0;
      margin-left: 2.5%;
    }
  }

  @include sphinx-medium-size {
    margin-right: 3%;
    margin-bottom: 3%;
    width: 30%;
  }

  .caption-text {
    a {
      font-size: rem(16px);
      color: $not_quite_black;
      letter-spacing: 0;
      line-height: rem(24px);
      text-decoration: none;
    }
  }

  &:hover {
    .figure:before {
      bottom: 100%;
    }

    box-shadow: none;
    border-bottom-color: $white;
  }

  .figure {
    width: 80%;
  }

  .figure:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 35%;
    left: 0;
    right: 0;
    background: #8A94B3;
    opacity: 0.10;
  }

  .figure a.reference.internal {
    text-align: left;
  }

  @include animated_border_hover_state;
  @include desktop {
    &:after {
      background-color: $red_orange;
    }
  }
}

article.pytorch-article {
  .function {
    dt {
      position: relative;
      background: $light_grey;
      padding: rem(18px);
      padding-right: 110px;
      border-left: 3px solid $red_orange;
      word-wrap: break-word;
      a {
        position: absolute;
        right: 30px;
        padding-right: 0;
        top: 50%;
        transform: perspective(1px) translateY(-50%);
      }
      &:hover {
        .viewcode-link {
          color: $red_orange;
        }
      }
    }
    .anchorjs-link {
      display: inline;
      position: absolute;
      right: 8px;
      font-size: rem(25px) !important;
      padding-left: 0;
    }
    code {
      color: $not_quite_black;
    }
    .viewcode-link {
      font-size: rem(16px);
      color: #979797;
      letter-spacing: 0;
      line-height: rem(24px);
      text-transform: uppercase;
    }
    dd {
      padding-left: rem(60px);
      p {
        color: $not_quite_black;
      }
    }
    table {
      width: 0%;
      tbody {
        tr {
          th.field-name {
            font-size: rem(18px);
            @include sphinx-full-size {
              padding-left: rem(120px);
            }
            white-space: nowrap;
            line-height: 1.75rem;
            color: $not_quite_black;
          }
          td.field-body {
            font-size: rem(18px);
            padding: 0.625rem;
            @include sphinx-full-size {
              padding-left: rem(20px);
            }
            line-height: rem(28px);
            color: $not_quite_black;
            p {
              padding-left: 0px;
            }
          }
        }
      }
    }
  }
  .attribute {
    @extend .function;
    .has-code {
      float: none;
    }
  }

  .class {
    @extend .function;
    dt {
      border-left: none;
      border-top: 3px solid $red_orange;
    }

    em.property {
      text-transform: uppercase;
      font-style: normal;
      color: $red_orange;
      font-size: rem(16px);
      letter-spacing: 0;
      line-height: rem(24px);
      font-weight: 400;
      padding-right: rem(12px);
    }

    dd {
      p {
        line-height: rem(28px);
      }
    }
    .method,
    .staticmethod {
      dt {
        border-left: 3px solid $red_orange;
        border-top: none;
      }
    }
    .attribute {
      @extend .attribute;
      dt {
        border-top: none;
      }
    }
  }
}

.pytorch-article {
  div.sphx-glr-download a {
    background-color: $light_grey;
    background-image: url("../images/arrow-down-orange.svg");
    background-repeat: no-repeat;
    background-position: left 10px center;
    background-size: 15px 15px;
    border-radius: 0;
    border: none;
    display: block;
    text-align: left;
    padding: rem(15px) rem(50px);
    position: relative;
    margin: rem(20px) auto;

    @include animated_border_hover_state;
    @include desktop {
      &:after {
        background-color: $red_orange;
      }
    }

    @include desktop {
      background-position: left 20px center;
    }

    &:hover {
      box-shadow: none;
      text-decoration: none;
      background-image: url("../images/arrow-down-orange.svg");
      background-color: $light_grey;
    }

    span.pre {
      background-color: transparent;
      font-size: rem(18px);
      padding: 0;
      color: $not_quite_black;
      font-weight: 400;
    }

    code, kbd, pre, samp, span.pre {
      font-family: FreightSans, Helvetica Neue, Helvetica, Arial, sans-serif;
    }
  }
}

.pytorch-article p.sphx-glr-script-out {
  margin-bottom: rem(18px);
}

.pytorch-article div.sphx-glr-script-out {
  margin-bottom: rem(40px);
  .highlight {
    margin-left: 0;
    margin-top: 0;
  }

  .highlight pre {
    background-color: #fdede9;
    padding: rem(25px);
    color: #837b79;
  }

  + p {
    margin-top: unset;
  }
}

article.pytorch-article {
  .wy-table-responsive {
    table {
      border: none;
      border-color: $white !important;
      table-layout: fixed;
      thead {
        border-bottom: 2px solid $quick_start_grey;
        th {
          font-weight: 400;
          line-height: rem(28px);
          padding-left: rem(15px);
          padding-right: rem(15px);
        }
      }
      tbody {
        .row-odd {
          background-color: $light_grey;
        }
        td {
          color: $quick_start_grey;
          white-space: normal;
          padding: rem(15px);
          font-size: rem(16px);
          line-height: rem(22px);
          .pre {
            background: $white;
            outline: 1px solid #e9e9e9;
            color: $red_orange;
            font-size: 87.5%;
          }
          code {
            font-size: 87.5%;
          }
        }
      }
    }
  }
}

a[rel~="prev"], a[rel~="next"] {
  padding: 0.375rem 0 0 0;
}

img.next-page,
img.previous-page {
  width: 8px;
  height: 10px;
  position: relative;
  top: -1px;
}

img.previous-page {
  transform: scaleX(-1);
}

.rst-footer-buttons {
  margin-top: rem(30px);
  margin-bottom: rem(30px);
  .btn:focus,
  .btn.focus {
    box-shadow: none;
  }
}

article.pytorch-article {
  blockquote {
    margin-left: rem(60px);
    color: $quick_start_grey;
    p, .attribution, .line {
      line-height: rem(28px);
    }
  }
}

article.pytorch-article .caption {
  color: $quick_start_grey;
  letter-spacing: 0.25px;
  line-height: rem(34px);
}

article.pytorch-article {
  .math {
    color: $not_quite_black;
    .MathJax_Display {
      font-size: rem(17px);
    }
  }
}

.pytorch-breadcrumbs-wrapper {
  width: 100%;

  @include sphinx-medium-size {
    width: $sphinx_article_width - 2;
  }

  @include sphinx-full-size {
    width: $sphinx_full_width_content_width - 2;
  }

  .pytorch-breadcrumbs-aside {
    float: right;
  }
}

.pytorch-article .container {
  padding-left: 0;
  padding-right: 0;
  max-width: none;
}

a:link,
a:visited,
a:hover {
  color: $red_orange;
}

::-webkit-input-placeholder {
  color: $red_orange;
}

::-moz-placeholder {
  color: $red_orange;
}

:-ms-input-placeholder {
  color: $red_orange;
}

:-moz-placeholder {
  color: $red_orange;
}

.site-footer {
  @include desktop {
    a:hover {
      color: $red_orange;
    }
  }
}

.docs-tutorials-resources {
  a {
    color: $red_orange;
  }
}

.header-holder .main-menu {
  ul li {
    &.active {
      &:after {
        color: $red_orange;
      }

      a {
        color: $red_orange;
      }
    }
  }

  ul li a {
    @include full-nav-menu-desktop {
      &:hover {
        color: $red_orange;
      }
    }
  }
}

.mobile-main-menu.open {
  ul li.active a {
    color: $red_orange;
  }
}
