body {
  background: $white;
  height: 100%;
  margin: 0;
  &.no-scroll {
    height: 100%;
    overflow: hidden;
  }
}

p {
  margin-top: 0;
  margin-bottom: rem(18px);
  @include default_link_styles;
}

.wy-breadcrumbs li a {
  color: $orange;
}

ul.pytorch-breadcrumbs {
  padding-left: 0;
  list-style-type: none;

  li {
    display: inline-block;
  }

  a {
    color: $orange;
    text-decoration: none;
  }
}

.table-of-contents-link-wrapper {
  display: block;
  margin-top: 80px;
  margin-bottom: rem(20px);

  @include full-nav-menu-desktop {
    display: none;
  }

  a {
    font-size: rem(22px);
  }
}

.tutorials-header {
  .header-logo {
    background-image: url("../images/logo-dark.svg");
  }

  .main-menu ul li a {
    color: $not_quite_black;
  }

  .main-menu-open-button {
    background-image: url("../images/icon-menu-dots-dark.svg");
  }
}

.rst-content footer {
  padding-bottom: rem(40px);
}

h1 {
  font-size: rem(32px);
  letter-spacing: 1.78px;
  line-height: rem(40px);
  text-transform: uppercase;
}

span.pre {
  color: $content_text_color;
  background-color: $light_grey;
  padding: 2px 6px;
}

.headerlink {
  display: none !important;
}

a:link,
a:hover,
a:visited {
  &.has-code {
    color: $code_link_color;
    span {
      color: $code_link_color;
    }
  }
}

article.pytorch-article {
  ul,
  ol {
    padding-left: rem(20px);
    margin: 0;

    li {
      margin: 0;
    }
  }
}

article.pytorch-article {
  p.caption {
    margin-top: rem(20px);
  }
}

.note,
.warning {
  background: $light_grey;
  margin-top: rem(18px);
  margin-bottom: rem(18px);
  padding-bottom: rem(18px);
  .first {
    font-size: rem(16px);
    color: $white;
    letter-spacing: 0;
    text-transform: uppercase;
    &:before {
      content: "\2022";
      position: relative;
      padding-left: 10px;
      padding-right: 15px;
    }
  }
  .last {
    padding-left: 32px;
    padding-right: 32px;
    font-size: rem(18px);
    color: $not_quite_black;
    letter-spacing: 0;
    line-height: rem(28px);
    margin-bottom: 0;
  }
  .pre {
    background: $white;
    outline: 1px solid #e9e9e9;
  }
}

.note {
  .admonition-title {
    background: $red_orange;
  }
}

.warning {
  .admonition-title {
    background: #f5a623;
  }
}
