.pytorch-container {
  margin: 0 auto;
  padding: 0 30px;
  width: 100%;
  @include full-nav-menu-desktop {
    padding: 0;
  }
}

.pytorch-content-wrap {
  background-color: #ffffff;
  display: flex;
  position: relative;
  @include clearfix;

  @include full-nav-menu-desktop {
    margin-left: $desktop_menu_width + 60px;
    padding-top: 137px;
  }
}

.pytorch-content {
  background: #ffffff;
  width: 100%;
  max-width: 675px;
  position: relative;
}

.pytorch-content-left {
  width: 100%;
  padding-right: 30px;
  @include full-nav-menu-desktop {
    padding-right: 0;
    width: 675px;
  }
}

.pytorch-content-right {
  display: none;
  @include full-nav-menu-desktop {
    display: block;
    width: $desktop_menu_width;
    position: relative;
    float: right;
    margin-left: rem(60px);
  }
}

.pytorch-side-scroll {
  width: $desktop_menu_width;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}

.pytorch-menu-vertical {
  padding-right: rem(20px);
  padding-bottom: 90px;
}

.pytorch-left-menu-search {
  width: $desktop_menu_width - 5px;
  z-index: 200;
  background-color: #f3f4f7;
  padding: rem(40px) 0 0 0;
  margin-bottom: rem(40px);
}

.pytorch-left-menu-search input[type=text] {
  width: $desktop_menu_width - 40px;
  border-radius: 0;
  padding: rem(8px) rem(12px);
  border-color: $orange;
  color: $orange;
  border-style: solid;
  font-size: rem(16px);
}

.pytorch-left-menu {
  display: none;
  background-color: #f3f4f7;

  &.open-mobile {
    position: fixed;
    height: 100%;
    top: 0;
    display: block;
    left: 0;
    z-index: 99999;
    width: 100%;
    padding: 0 0 0 rem(30px);

    .pytorch-side-scroll {
      width: 100%;
      z-index: 99;
    }

    .close-table-of-contents {
      position: absolute;
      top: 10px;
      right: 30px;
      z-index: 100;
    }
  }

  a.close-table-of-contents {
    display: block;

    @include full-nav-menu-desktop {
      display: none;
    }
  }

  @include full-nav-menu-desktop {
    background: #f3f4f7;
    bottom: 0;
    color: #252627;
    left: 0;
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 20px + 90px;
    padding: 0 rem(20px) 0 rem(20px);
    position: fixed;
    top: 90px;
    width: $desktop_menu_width;
    z-index: 200;
  }

  p.caption {
    color: $orange;
    display: block;
    display: inline-block;
    font-size: rem(18px);
    line-height: rem(34px);
    margin-bottom: rem(16px);
    padding: 0;
    text-transform: none;
    white-space: nowrap;
  }
}

.pytorch-right-menu {
  min-height: 100px;
  overflow-x: hidden;
  overflow-y: hidden;
  position: fixed;
  top: 190px;
  width: $desktop_menu_width;
  left: 1090px;
  z-index: 200;
  bottom: 0;

  &.fixed-to-bottom {
    top: auto;
    bottom: 20px;
    position: absolute;
    left: 0;
  }
}

.pytorch-left-menu,
.pytorch-right-menu {
  ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: rem(20px);
  }

  > ul {
    margin-bottom: rem(40px);
  }

  a:link,
  a:visited,
  a:hover {
    color: #4a4a4a;
    font-size: rem(16px);
    line-height: rem(25px);
    padding: 0;
    text-decoration: none;
    &.reference.internal {
      margin-bottom: rem(5px);
      position: relative;
    }
  }

  li {
    &.divide-top {
    }

    &.divide-bottom {
    }

    &.current {
      a {
        &:hover {
        }
      }
    }

    code {
      border: none;
      background: inherit;
      color: inherit;
      padding-left: 0;
      padding-right: 0;
    }

    // Expand links
    span.toctree-expand {
      display: block;
      float: left;
      margin-left: -1.2em;

      font-size: 0.8em;
      line-height: 1.6em;
    }
  }

  // On state for the first level
  li.on a, li.current > a {
    position: relative;
    border: none;

    &:hover {
      span.toctree-expand {
      }
    }

    span.toctree-expand {
      display: block;
      font-size: 0.8em;
      line-height: 1.6em;
    }
  }

  li.toctree-l1.current > a {
    color: $orange;
  }

  // This is the on state for pages beyond second level
  li.toctree-l2 a, li.toctree-l3 a, li.toctree-l4 a {
  }

  li.toctree-l1.current li.toctree-l2, li.toctree-l2.current li.toctree-l3 {
    > ul {
      display: none;
    }

    &.current > ul {
      display: block;
    }
  }

  li.toctree-l2 {
    &.current {
      > a {
      }

      li.toctree-l3 > a {
        display: block;
      }
    }

    a:hover span.toctree-expand {
    }

    span.toctree-expand {
    }
  }

  li.toctree-l3 {
    font-size: 0.9em;

    &.current {
      > a {
      }

      li.toctree-l4 > a {
        display: block;
      }
    }

    a:hover span.toctree-expand {
    }

    span.toctree-expand {
    }
  }

  li.toctree-l4 {
    font-size: 0.9em;
  }

  li.current ul {
    display: block;
  }

  li ul {
    margin-bottom: 0;
    display: none;
  }

  li ul li a {
    margin-bottom: 0;
  }

  a {
    display: inline-block;
    position: relative;

    &:hover {
      cursor: pointer;

      span.toctree-expand {
      }
    }

    &:active {
      cursor: pointer;
      span.toctree-expand {}
    }
  }
}

.pytorch-right-menu {
  a:link,
  a:visited,
  a:hover {
    color: #4a4a4a;

    &.active {
      color: $orange;
    }
  }

  ul ul {
    padding-left: 20px;
  }

  li ul {
    display: block;
  }
}

.pytorch-right-menu .pytorch-side-scroll {
  width: $desktop_menu_width + 20px;
}
