.pytorch-menu-vertical {
  padding-right: rem(20px);
  padding-bottom: 90px;

  header,
  p.caption {
    color: $orange;
    font-size: rem(18px);
    line-height: rem(34px);
    margin-bottom: rem(20px);
    padding: 0;
    text-transform: none;
  }
}

.pytorch-left-menu-search {
  width: $desktop_menu_width - 5px;
  z-index: 200;
  background-color: #f3f4f7;
  padding: rem(40px) 0 0 0;
  margin-bottom: rem(40px);
}

.pytorch-left-menu {
  background: #f3f4f7;
  bottom: 0;
  color: #252627;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 20px + 90px;
  padding: 0 rem(20px) 0 rem(20px);
  position: fixed;
  top: 90px;
  width: $desktop_menu_width;
  z-index: 200;

  header,
  p.caption {
    display: inline-block;
    margin-bottom: 0;
    display: block;
    white-space: nowrap;
  }
}

.pytorch-left-menu,
.pytorch-right-menu {
  ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: rem(20px);
  }

  > ul {
    margin-bottom: rem(40px);
  }

  a:link,
  a:visited,
  a:hover {
    color: #4a4a4a;
    font-size: rem(16px);
    line-height: rem(25px);
    padding: 0;
    text-decoration: none;
    &.reference.internal {
      margin-bottom: rem(5px);
      position: relative;
    }
  }

  li {
    &.divide-top {
    }

    &.divide-bottom {
    }

    &.current {
      a {
        &:hover {
        }
      }
    }

    code {
      border: none;
      background: inherit;
      color: inherit;
      padding-left: 0;
      padding-right: 0;
    }

    // Expand links
    span.toctree-expand {
      display: block;
      float: left;
      margin-left: -1.2em;

      font-size: 0.8em;
      line-height: 1.6em;
    }
  }

  // On state for the first level
  li.on a, li.current > a {
    position: relative;
    border: none;

    &:hover {
      span.toctree-expand {
      }
    }

    span.toctree-expand {
      display: block;
      font-size: 0.8em;
      line-height: 1.6em;
    }
  }

  li.toctree-l1.current > a {
    color: $orange;
  }

  // This is the on state for pages beyond second level
  li.toctree-l2 a, li.toctree-l3 a, li.toctree-l4 a {
  }

  li.toctree-l1.current li.toctree-l2, li.toctree-l2.current li.toctree-l3 {
    > ul {
      display: none;
    }

    &.current > ul {
      display: block;
    }
  }

  li.toctree-l2 {
    &.current {
      > a {
      }

      li.toctree-l3 > a {
        display: block;
      }
    }

    a:hover span.toctree-expand {
    }

    span.toctree-expand {
    }
  }

  li.toctree-l3 {
    font-size: 0.9em;

    &.current {
      > a {
      }

      li.toctree-l4 > a {
        display: block;
      }
    }

    a:hover span.toctree-expand {
    }

    span.toctree-expand {
    }
  }

  li.toctree-l4 {
    font-size: 0.9em;
  }

  li.current ul {
    display: block;
  }

  li ul {
    margin-bottom: 0;
    display: none;
  }

  li ul li a {
    margin-bottom: 0;
    font-weight: normal;
  }

  a {
    display: inline-block;
    position: relative;

    &:hover {
      cursor: pointer;

      span.toctree-expand {
      }
    }

    &:active {
      cursor: pointer;
      span.toctree-expand {}
    }
  }
}

.pytorch-right-menu {
  a:link,
  a:visited,
  a:hover {
    color: #EE4C2C;
  }

  ul ul {
    padding-left: 20px;
  }

  li ul {
    display: block;
  }
}

.pytorch-right-menu .pytorch-side-scroll {
  width: $desktop_menu_width + 20px;
}
