@font-face {
  font-family: FreightSans;
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/FreightSans/freight-sans-semi-bold.woff2") format("woff2"),
       url("../fonts/FreightSans/freight-sans-semi-bold.woff") format("woff");
}

@font-face {
  font-family: FreightSans;
  font-weight: bolder;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/FreightSans/freight-sans-semi-bold-italic.woff2") format("woff2"),
       url("../fonts/FreightSans/freight-sans-semi-bold-italic.woff") format("woff");
}

@font-face {
  font-family: FreightSans;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/FreightSans/freight-sans-medium.woff2") format("woff2"),
       url("../fonts/FreightSans/freight-sans-medium.woff") format("woff");
}

@font-face {
  font-family: FreightSans;
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/FreightSans/freight-sans-medium-italic.woff2") format("woff2"),
       url("../fonts/FreightSans/freight-sans-medium-italic.woff") format("woff");
}

@font-face {
  font-family: FreightSans;
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/FreightSans/freight-sans-light.woff2") format("woff2"),
       url("../fonts/FreightSans/freight-sans-light.woff") format("woff");
}

@font-face {
  font-family: FreightSans;
  font-weight: lighter;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/FreightSans/freight-sans-light-italic.woff2") format("woff2"),
       url("../fonts/FreightSans/freight-sans-light-italic.woff") format("woff");
}

@font-face {
  font-family: FreightSans;
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/FreightSans/freight-sans-book-italic.woff2") format("woff2"),
       url("../fonts/FreightSans/freight-sans-book-italic.woff") format("woff");
}

@font-face {
  font-family: FreightSans;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/FreightSans/freight-sans-book.woff2") format("woff2"),
       url("../fonts/FreightSans/freight-sans-book.woff") format("woff");
}

@font-face {
  font-family: IBMPlexMono;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  unicode-range: u+0020-007f;
  src: local("IBMPlexMono-SemiBold"),
    url("../fonts/IBMPlexMono/IBMPlexMono-SemiBold.woff2")
      format("woff2"),
    url("../fonts/IBMPlexMono/IBMPlexMono-SemiBold.woff")
      format("woff");
}

@font-face {
  font-family: IBMPlexMono;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: u+0020-007f;
  src: local("IBMPlexMono-Medium"),
    url("../fonts/IBMPlexMono/IBMPlexMono-Medium.woff2")
      format("woff2"),
    url("../fonts/IBMPlexMono/IBMPlexMono-Medium.woff")
      format("woff");
}

@font-face {
  font-family: IBMPlexMono;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: u+0020-007f;
  src: local("IBMPlexMono-Regular"),
    url("../fonts/IBMPlexMono/IBMPlexMono-Regular.woff2")
      format("woff2"),
    url("../fonts/IBMPlexMono/IBMPlexMono-Regular.woff")
      format("woff");
}

@font-face {
  font-family: IBMPlexMono;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: u+0020-007f;
  src: local("IBMPlexMono-Light"),
    url("../fonts/IBMPlexMono/IBMPlexMono-Light.woff2")
      format("woff2"),
    url("../fonts/IBMPlexMono/IBMPlexMono-Light.woff")
      format("woff");
}
