[build]
  command = "npm install && npx grunt default && pip install -r docs/requirements.txt && pip install -e . && cd docs && sphinx-build -b html . _build/html"
  publish = "docs/_build/html"

# Node version is specified in .nvmrc (18)
# Python version is specified in .python-version (3.10)
