{%- set external_urls = {
  'github': 'https://github.com/pytorch/pytorch',
  'github_issues': 'https://github.com/pytorch/pytorch/issues',
  'contributing': 'https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md',
  'docs': 'https://docs.pytorch.org/docs/stable/index.html',
  'twitter': 'https://twitter.com/pytorch',
  'spotify': 'https://open.spotify.com/show/6UzHKeiy368jKfQMKKvJY5',
  'apple': 'https://podcasts.apple.com/us/podcast/pytorch-developer-podcast/id1566080008',
  'google': 'https://www.google.com/podcasts?feed=aHR0cHM6Ly9mZWVkcy5zaW1wbGVjYXN0LmNvbS9PQjVGa0lsOA%3D%3D',
  'amazon': 'https://music.amazon.com/podcasts/7a4e6f0e-26c2-49e9-a478-41bd244197d0/PyTorch-Developer-Podcast?',
  'linkedIn': 'https://www.linkedin.com/company/pytorch',
  'facebook': 'https://www.facebook.com/pytorch',
  'slack': 'https://pytorch.slack.com',
  'discuss': 'https://discuss.pytorch.org',
  'tutorials': 'https://docs.pytorch.org/tutorials',
  'previous_pytorch_versions': 'https://pytorch.org/previous-versions/',
  'learn_basics': 'https://pytorch.org/tutorials/beginner/basics/intro.html',
  'recipes': 'https://pytorch.org/tutorials/recipes/recipes_index.html',
  'youtube_intro_series': 'https://pytorch.org/tutorials/beginner/introyt.html',
  'community-events': 'https://pytorch.org/community-events/',
  'pt-ambassadors': 'https://pytorch.org/programs/ambassadors/',
  'community_hub': 'https://pytorch.org/community-hub/',
  'pytorch-project':'https://pytorch.org/projects/pytorch/',
  'vllm-project': 'https://pytorch.org/projects/vllm/',
  'deepspeed-project': 'https://pytorch.org/projects/deepspeed/',
  'host-your-project': 'https://pytorch.org/projects/host-your-project/',
  'join-ecosystem': 'https://pytorch.org/join-ecosystem',
  'announcements': 'https://pytorch.org/announcements',
  'case-studies': 'https://pytorch.org/case-studies/',
  'members': 'https://pytorch.org/members',
  'webinars': 'https://pytorch.org/webinars/',
  'landscape': 'https://landscape.pytorch.org/',
  'contributor_awards': 'https://pytorch.org/contributor-awards/',
  'docs_domains': 'https://pytorch.org/domains',
  'community_blog': 'https://pytorch.org/community-blog',
  'community_module': 'https://pytorch.org/#community-module',
  'videos': 'https://pytorch.org/videos',
  'join_form': 'https://pytorch.org/join',
  'home': 'https://pytorch.org/',
  'events': 'https://pytorch.org/events',
  'foundation': 'https://pytorch.org/foundation',
  'community-stories': 'https://pytorch.org/community-stories',
  'newsletter': 'https://pytorch.org/newsletter',
  'get_started': 'https://pytorch.org/get-started/locally',
  'features': 'https://pytorch.org/features',
  'ecosystem': 'https://pytorch.org/ecosystem',
  'blog': 'https://pytorch.org/blog/',
  'resources': 'https://pytorch.org/resources',
  'support': 'https://pytorch.org/support',
  'edge': 'https://pytorch.org/edge',
  'executorch': 'https://pytorch.org/executorch-overview',
  'executorch_docs': 'https://pytorch.org/executorch/stable/index.html',
  'hub': 'https://pytorch.org/hub',
  'governing_board': 'https://pytorch.org/governing-board',
  'youtube': 'https://www.youtube.com/pytorch',
  'brand_guidelines': 'https://pytorch.org/wp-content/uploads/2025/09/pytorch_brand_guide_091925a.pdf',
  'community': 'https://pytorch.org/#community-module',
  'credits': 'https://pytorch.org/credits',
  'forums': 'https://discuss.pytorch.org/',
  'tac': 'https://pytorch.org/tac',
  'staff': 'https://pytorch.org/staff',
  'contact_us': 'https://pytorch.org/contact',
  'audio': 'https://pytorch.org/audio/stable/index.html',
  'text': 'https://pytorch.org/text/stable/index.html',
  'vision': 'https://pytorch.org/vision/stable/index.html',
  'elastic': 'https://pytorch.org/elastic/',
  'torchx': 'https://pytorch.org/torchx/',
  'serve': 'https://pytorch.org/serve/',
  'xla': 'https://pytorch.org/xla',
  'data': 'https://pytorch.org/data',
  'torcharrow': 'https://pytorch.org/torcharrow',
  'torchrec': 'https://pytorch.org/torchrec',
  'ray': 'https://pytorch.org/projects/ray/'
}
-%}
