{%- set external_urls = {
  'home': 'https://www.private-ai.com/',

  'github': 'https://github.com/private-ai/private-ai',
  'github_issues': 'https://github.com/private-ai/private-ai/issues',
  'contributing': 'https://github.com/private-ai/private-ai/blob/master/CONTRIBUTING.md',
  'docs': 'https://private-ai.com/docs/stable/index.html',
  'twitter': 'https://twitter.com/private-ai',
  'facebook': 'https://www.facebook.com/private-ai',
  'slack': 'https://private-ai.slack.com',
  'discuss': 'https://discuss.private-ai.com',
  'tutorials': 'https://private-ai.com/tutorials',
  'previous_privateai_versions': 'https://private-ai.com/previous-versions/',
  'get_started': 'https://private-ai.com/get-started',
  'features': 'https://private-ai.com/features',
  'ecosystem': 'https://private-ai.com/ecosystem',
  'blog': 'https://private-ai.com/blog/',
  'resources': 'https://private-ai.com/resources',
  'support': 'https://private-ai.com/support',
  'mobile': 'https://private-ai.com/mobile',
  'hub': 'https://private-ai.com/hub',
  'youtube': 'https://www.youtube.com/private-ai',
  'brand_guidelines': 'https://private-ai.com/assets/brand-guidelines/private-ai-Brand-Guidelines.pdf',
  'community': 'https://private-ai.com/#community-module',
  'forums': 'https://discuss.private-ai.com/',
  'audio': 'https://private-ai.com/audio/stable/index.html',
  'text': 'https://private-ai.com/text/stable/index.html',
  'vision': 'https://private-ai.com/vision/stable/index.html',
  'elastic': 'https://private-ai.com/elastic/',
  'serve': 'https://private-ai.com/serve/',
  'xla': 'https://private-ai.com/xla'
}
-%}
