{%- set external_urls = {
  'github': 'https://github.com/pytorch/pytorch',
  'github_issues': 'https://github.com/pytorch/pytorch/issues',
  'contributing': 'https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md',
  'docs': 'https://pytorch.org/docs/stable/index.html',
  'twitter': 'https://twitter.com/pytorch',
  'spotify': 'https://open.spotify.com/show/6UzHKeiy368jKfQMKKvJY5',
  'apple': 'https://podcasts.apple.com/us/podcast/pytorch-developer-podcast/id1566080008',
  'google': 'https://www.google.com/podcasts?feed=aHR0cHM6Ly9mZWVkcy5zaW1wbGVjYXN0LmNvbS9PQjVGa0lsOA%3D%3D',
  'amazon': 'https://music.amazon.com/podcasts/7a4e6f0e-26c2-49e9-a478-41bd244197d0/PyTorch-Developer-Podcast?',
  'linkedIn': 'https://www.linkedin.com/company/pytorch',
  'facebook': 'https://www.facebook.com/pytorch',
  'slack': 'https://pytorch.slack.com',
  'discuss': 'https://discuss.pytorch.org',
  'tutorials': 'https://pytorch.org/tutorials',
  'previous_pytorch_versions': 'https://pytorch.org/previous-versions/',
  'learn_basics': 'https://pytorch.org/tutorials/beginner/basics/intro.html',
  'recipes': 'https://pytorch.org/tutorials/recipes/recipes_index.html',
  'youtube_intro_series': 'https://pytorch.org/tutorials/beginner/introyt.html',
  'contributor_awards_2023': 'https://pytorch.org/ecosystem/contributor-awards-2023',
  'docs_domains': 'https://pytorch.org/pytorch-domains',
  'community_blog': 'https://pytorch.org/community-blog',
  'community_module': 'https://pytorch.org/#community-module',
  'videos': 'https://pytorch.org/videos',
  'join_form': 'https://pytorch.org/join',
  'home': 'https://pytorch.org/',
  'events': 'https://pytorch.org/events',
  'foundation': 'https://pytorch.org/foundation',
  'community-stories': 'https://pytorch.org/community-stories',
  'get_started': 'https://pytorch.org/get-started',
  'features': 'https://pytorch.org/features',
  'ecosystem': 'https://pytorch.org/ecosystem',
  'blog': 'https://pytorch.org/blog/',
  'resources': 'https://pytorch.org/resources',
  'support': 'https://pytorch.org/support',
  'edge': 'https://pytorch.org/edge',
  'executorch': 'https://pytorch.org/executorch-overview',
  'hub': 'https://pytorch.org/hub',
  'governing_board': 'https://pytorch.org/governing-board',
  'youtube': 'https://www.youtube.com/pytorch',
  'brand_guidelines': 'https://pytorch.org/assets/brand-guidelines/PyTorch-Brand-Guidelines.pdf',
  'community': 'https://pytorch.org/#community-module',
  'forums': 'https://discuss.pytorch.org/',
  'audio': 'https://pytorch.org/audio/stable/index.html',
  'text': 'https://pytorch.org/text/stable/index.html',
  'vision': 'https://pytorch.org/vision/stable/index.html',
  'elastic': 'https://pytorch.org/elastic/',
  'torchx': 'https://pytorch.org/torchx/',
  'serve': 'https://pytorch.org/serve/',
  'xla': 'https://pytorch.org/xla',
  'data': 'https://pytorch.org/data',
  'torcharrow': 'https://pytorch.org/torcharrow',
  'torchrec': 'https://pytorch.org/torchrec'
}
-%}
