name: Test Documentation Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main, pytorch_sphinx_theme2 ]
  workflow_dispatch:

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install dependencies
        run: |
          uv pip install --system -r docs/requirements.txt
          uv pip install --system -e .

      - name: Build theme assets
        run: |
          npx grunt default

      - name: Build Test documentation
        run: |
          cd docs
          sphinx-build -b html . _build/html

      - name: Upload documentation artifact
        uses: actions/upload-artifact@v3
        with:
          name: documentation
          path: docs/_build/html/

  doc-preview:
    runs-on: ubuntu-latest
    needs: build-docs
    if: ${{ github.event_name == 'pull_request' }}
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: documentation
          path: docs/_build/html

      - name: Upload docs preview
        uses: seemethere/upload-artifact-s3@v5
        with:
          retention-days: 14
          s3-bucket: doc-previews
          if-no-files-found: error
          path: docs/_build/html
          s3-prefix: pytorch_sphinx_theme/${{ github.event.pull_request.number }}
